
/* formatação da galeria */
ul{
	width:880px;
	list-style: none;
	display: flex;
	margin: 100px auto;
}
.min{
	width:200px;
	padding:10px;
	}
.lbox{
	visibility: hidden;
	opacity:0;
}
.lbox:target{
	opacity:1;
	visibility: visible;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background:rgba(10,10,10,.7);
	position:fixed;
}
.box_Gale{
	width: 1000px;
	margin: 150px auto;
}
.btn{
	color:#ffffff;
	font-family: 'Arial';
	text-decoration:none;
	position: absolute;
	width: 50px;
	height: 50px;
	font-size: 40px;
	text-align: center;
}
#prev{
	left: 5%;
	top: 45%;
}
#next{
	left:5%;
	top:45%;
}
#closs{
	top:0;
	right:2%;
}
.box_Gale Gale{
	opacity:0;
}
.lbox:target .box_Gale Gale{
	opacity:1;
	transition: opacity .4s linear;
}